<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1">
	<title>MusicBrainz</title>
	<link rel="stylesheet" href="/stylesheets/main.css">
	<link rel="stylesheet" href="/stylesheets/content.css">
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	
	<header>
		<div id="header-content">
			<a href="/">
				<div id="logo">
					<p>MusicBrainz</p>
				</div>
			</a>
			<form id="search" action="/" method="post">
            	<input type="text" name="search" id="search" maxlength="90" placeholder="Search">
               	<button type="submit" id="search-button"></button>
       		</form>
		</div><!-- End header-content -->
	</header>
	
	<div id="content" class="clearfix">
		<%= yield %>
	</div><!-- End content -->

	<footer>
		<div id="footer-content">
			<p>Copyright &#169 2013 Lior Elrom & Ann Kim. All rights reserved.</p>
		</div><!-- End footer-content -->
	</footer>
</body>
</html>